.example-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-container {
  height: 100vh;
}

.logout {
  padding: 16px;
  position: absolute;
  bottom: 0;
}

.content {
  padding: 16px;
}
